@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../fonts/proxima_nova_regular-webfont.eot");
  src: url("../fonts/proxima_nova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_regular-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_regular-webfont.woff") format("woff"), url("../fonts/proxima_nova_regular-webfont.ttf") format("truetype"), url("../fonts/proxima_nova_regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "proxima_nova_rgregular",Helvetica,Arial,sans-serif;
  margin-bottom: 0; }

html {
  font-family: "proxima_nova_rgregular",Helvetica,Arial,sans-serif; }

input:focus, textarea:focus {
  outline: none !important; }

a:focus {
  outline: inherit; }

a:hover, a:focus {
  text-decoration: none; }

#header {
  background: url(../images/backsite.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 0 0 0;
  min-height: 830px; }
  #header .page-header {
    margin: 0;
    border: none;
    padding-top: 30px;
    padding-bottom: 0;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s; }
    #header .page-header .navbar-nav > li.active > a {
      background: transparent;
      color: #e3ea10; }
    #header .page-header.fixed, #header .page-header.page-fix {
      background-color: #fff;
      position: fixed;
      width: 100%;
      padding-top: 0px;
      padding-bottom: 0px;
      z-index: 1000;
      webkit-box-shadow: 0px 3px 30px 0px rgba(50, 50, 50, 0.3);
      -moz-box-shadow: 0px 3px 30px 0px rgba(50, 50, 50, 0.3);
      box-shadow: 0px 3px 30px 0px rgba(50, 50, 50, 0.3); }
      #header .page-header.fixed img.default, #header .page-header.page-fix img.default {
        display: none; }
      #header .page-header.fixed .site-logo-holder, #header .page-header.page-fix .site-logo-holder {
        margin-top: 15px; }
      #header .page-header.fixed .text-header, #header .page-header.page-fix .text-header {
        display: inline-block !important;
        padding-left: 20px;
        border-left: 1px solid #ccc;
        margin-left: 20px;
        width: 150px;
        line-height: 14px;
        vertical-align: middle;
        color: #808080; }
      #header .page-header.fixed img.fix, #header .page-header.page-fix img.fix {
        display: inline-block !important; }
      #header .page-header.fixed .navbar-nav > li > a, #header .page-header.page-fix .navbar-nav > li > a {
        color: #cbd700;
        padding-top: 22px;
        border-top: 3px solid #FFF;
        padding-bottom: 25px; }
      #header .page-header.fixed .navbar-nav > li.active > a, #header .page-header.page-fix .navbar-nav > li.active > a {
        border-top-color: #ab2192;
        background: #f1f1f1;
        color: #ab2192;
        text-decoration: underline; }
      #header .page-header.fixed .navbar, #header .page-header.page-fix .navbar {
        min-height: initial; }
  #header .site-logo-holder {
    float: left; }
  #header #main-navigation {
    margin: 0px 0;
    float: right; }
  #header > .container {
    padding-top: 235px; }
  #header .col2-header {
    text-align: center; }
  #header .col2-header .assista-video {
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier */
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s; }
  #header .col2-header .assista-video:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */ }
  #header .text1-header {
    color: #e3ea10;
    font-size: 38px;
    line-height: 38px;
    font-weight: bold; }
  #header .text2-header {
    font-size: 32px;
    color: #fff;
    line-height: 32px;
    margin-top: 10px;
    display: inline-block; }
  #header a.assista-video2.ver-video {
    background: url(../images/play-icone.png) no-repeat left;
    display: inline-block;
    padding: 0;
    font-size: 20px;
    color: #e3ea10;
    padding: 10px 0 10px 60px;
    margin-top: 30px; }
  #header a.assista-video2.ver-video span {
    border-bottom: 1px solid #e3ea10;
    line-height: 18px;
    display: inline-block; }
  #header a.assista-video2.ver-video:hover {
    text-decoration: none; }

#footer {
  position: relative;
  background-color: #fff;
  border-top: 1px solid #d9d983; }
  #footer .container {
    color: #b3b3b3;
    text-align: left; }
    #footer .container a {
      color: #999999; }
      #footer .container a:hover, #footer .container a:focus {
        text-decoration: underline; }
  #footer .glyphicon-heart {
    color: #ec2722;
    top: 3px; }
  #footer nav ul li a {
    padding: 0 20px; }

.navbar-default {
  border: none;
  background-color: transparent; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #e3ea10; }

div#wpadminbar {
  display: none; }

.col-tema {
  margin-bottom: 65px; }

.article-1 header h2, .article-1 header h1, .post-12 header h2, .post-12 header h1 {
  color: #CCCC0D;
  text-align: center;
  font-size: 25px;
  padding-top: 45px;
  margin-top: 0;
  font-weight: bold; }
.article-1 .text-sobre-nos, .post-12 .text-sobre-nos {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 680px;
  margin: auto auto 50px auto;
  font-size: 21px;
  line-height: 25px;
  color: #818181;
  text-align: center; }
.article-1 .entry-content p img.aligncenter, .article-1 .entry-content img.aligncenter, .post-12 .entry-content p img.aligncenter, .post-12 .entry-content img.aligncenter {
  margin-top: 0em;
  margin-bottom: 0em;
  max-width: 100%; }

#wrapper.container {
  width: 100%; }

.text-tema {
  color: #FFF;
  text-align: center;
  font-size: 28px;
  line-height: 25px;
  display: inline-block;
  margin-bottom: 35px; }

.page header.entry-header {
  padding-left: 0;
  padding-right: 0; }
.page #header {
  min-height: initial; }
.page #wrapper.container {
  padding-top: 70px; }
.page #wrapper article > .container {
  padding-top: 60px;
  display: table;
  font-size: 18px;
  color: #7f7f7f; }
  .page #wrapper article > .container b, .page #wrapper article > .container strong {
    color: #000; }
.page .bg-faq {
  background: url(../images/backsite.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 45px 0 60px 0; }
.page .title-page h1 {
  color: #ccd532;
  font-weight: bold; }
.page .title-page .sub-titulo {
  color: #fff;
  font-size: 30px;
  line-height: 30px; }

#content.col-md-12 {
  padding: 0; }

.article-2-bg, .page-id-22 .col-md-12 {
  background: #cdcd0d; }

.article-4-bg, .page-id-44 .col-md-12 {
  background-color: #F2F2F2; }

.article-5-bg, .page-id-72 .col-md-12 {
  background-color: #cccc33; }

.article-2, .post-22 {
  margin-bottom: 50px; }
  .article-2 header h2, .article-2 header h1, .post-22 header h2, .post-22 header h1 {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    padding-top: 45px;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 5px; }
  .article-2 .col-tema, .post-22 .col-tema {
    margin-bottom: 5px; }
  .article-2 .content-tema p, .post-22 .content-tema p {
    color: #fff;
    font-size: 16px;
    line-height: 18px; }
    .article-2 .content-tema p:first-child, .post-22 .content-tema p:first-child {
      font-size: 20px; }
  .article-2 .content-tema a, .post-22 .content-tema a {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    border-bottom: 1px solid #dada5d; }
  .article-2 .content-tema a:hover, .post-22 .content-tema a:hover {
    text-decoration: none; }
  .article-2 .col-xs-12.text-tema, .post-22 .col-xs-12.text-tema {
    font-size: 18px;
    text-align: left;
    line-height: 20px; }
  .article-2 .col-xs-12.text-tema p, .post-22 .col-xs-12.text-tema p {
    margin-bottom: 0; }

.article-3 header h2, .article-3 header h1, .post-39 header h2, .post-39 header h1 {
  color: #93268F;
  text-align: left;
  font-size: 30px;
  padding-top: 45px;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 5px; }
.article-3 .text-tema, .article-3 .text-tema, .post-39 .text-tema, .post-39 .text-tema {
  color: #808080;
  text-align: left;
  font-size: 25px; }
.article-3 .content-tema p, .post-39 .content-tema p {
  color: #808080; }
  .article-3 .content-tema p:first-child, .post-39 .content-tema p:first-child {
    color: #93268F; }
.article-3 .content-tema a, .post-39 .content-tema a {
  color: #93268F;
  border-bottom: 1px solid #93268F; }

.article-4 header h2, .article-4 header h1, .post-44 header h2, .post-44 header h1 {
  color: #4d4d4d;
  text-align: left;
  font-size: 30px;
  padding-top: 45px;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 5px; }
.article-4 .text-tema, .article-4 .text-tema, .post-44 .text-tema, .post-44 .text-tema {
  color: #808080;
  text-align: left;
  font-size: 25px; }
.article-4 .planos-group, .post-44 .planos-group {
  color: #fff;
  padding: 25px 30px 15px 30px; }
  .article-4 .planos-group.pl1, .post-44 .planos-group.pl1 {
    background-color: #0990CE; }
  .article-4 .planos-group.pl2, .post-44 .planos-group.pl2 {
    background-color: #E08707; }
  .article-4 .planos-group.pl3, .post-44 .planos-group.pl3 {
    background-color: #CC3333; }
  .article-4 .planos-group .title-price.t2, .post-44 .planos-group .title-price.t2 {
    margin-bottom: 20px; }
  .article-4 .planos-group .title-price, .post-44 .planos-group .title-price {
    text-align: center;
    font-size: 20px; }
  .article-4 .planos-group strong, .post-44 .planos-group strong {
    display: block; }
.article-4 .price, .post-44 .price {
  text-align: center; }
  .article-4 .price span.p1, .article-4 .price span.p3, .post-44 .price span.p1, .post-44 .price span.p3 {
    font-size: 18px;
    display: inline-block; }
  .article-4 .price span.p2, .post-44 .price span.p2 {
    font-size: 60px; }
.article-4 .features, .post-44 .features {
  background-color: #fff;
  padding: 20px 25px 25px 25px;
  padding-bottom: 35px; }
  .article-4 .features h3, .post-44 .features h3 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-top: 5px; }
  .article-4 .features p, .post-44 .features p {
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 0; }
.article-4 .col-tema, .post-44 .col-tema {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }
  .article-4 .col-tema .interno-plano, .post-44 .col-tema .interno-plano {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(181, 181, 181, 0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(181, 181, 181, 0.4);
    box-shadow: 0px 0px 10px 0px rgba(181, 181, 181, 0.4);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden; }
.article-4 a.btn.btn-primary.btn-block, .post-44 a.btn.btn-primary.btn-block {
  background-color: #cccc33;
  border-color: rgba(204, 204, 51, 0.5);
  text-shadow: 1px 1px rgba(128, 128, 128, 0.5);
  font-size: 18px;
  max-width: 250px;
  margin: auto;
  transition: all 400ms ease-in-out 0s;
  -moz-transition: all 400ms ease-in-out 0s;
  -ms-transition: all 400ms ease-in-out 0s;
  -o-transition: all 400ms ease-in-out 0s;
  -webkit-transition: all 400ms ease-in-out 0s; }
  .article-4 a.btn.btn-primary.btn-block:hover, .post-44 a.btn.btn-primary.btn-block:hover {
    background-color: #aab20b; }
.article-4 .pl1 a.btn.btn-primary.btn-block, .post-44 .pl1 a.btn.btn-primary.btn-block {
  -webkit-box-shadow: 2px 2px 3px 0px #0562a8;
  -moz-box-shadow: 2px 2px 3px 0px #0562a8;
  box-shadow: 2px 2px 3px 0px #0562a8; }
.article-4 .pl2 a.btn.btn-primary.btn-block, .post-44 .pl2 a.btn.btn-primary.btn-block {
  -webkit-box-shadow: 2px 1px 3px 0px #d35604;
  -moz-box-shadow: 2px 1px 3px 0px #d35604;
  box-shadow: 2px 1px 3px 0px #d35604; }
.article-4 .pl3 a.btn.btn-primary.btn-block, .post-44 .pl3 a.btn.btn-primary.btn-block {
  -webkit-box-shadow: 2px 2px 3px 0px #b71e1e;
  -moz-box-shadow: 2px 2px 3px 0px #b71e1e;
  box-shadow: 2px 2px 3px 0px #b71e1e; }

.article-5 header h2, .article-5 header h1, .post-72 header h2, .post-72 header h1 {
  color: #FFF;
  text-align: left;
  font-size: 30px;
  padding-top: 45px;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 5px; }
.article-5 .text-tema, .post-72 .text-tema {
  text-align: left;
  margin-bottom: 20px; }
.article-5 input[type="submit"], .article-5 input[type="reset"], .article-5 input[type="submit"]:hover, .article-5 input[type="submit"]:active, .article-5 input[type="submit"]:focus, .post-72 input[type="submit"], .post-72 input[type="reset"], .post-72 input[type="submit"]:hover, .post-72 input[type="submit"]:active, .post-72 input[type="submit"]:focus {
  color: #cccc33;
  border: none; }
.article-5 input[type="submit"], .post-72 input[type="submit"] {
  padding-right: 40px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }
.article-5 input::-webkit-input-placeholder, .post-72 input::-webkit-input-placeholder {
  color: #FFF; }
.article-5 input::-moz-placeholder, .post-72 input::-moz-placeholder {
  color: #FFF; }
.article-5 input:-ms-input-placeholder, .post-72 input:-ms-input-placeholder {
  color: #FFF; }
.article-5 input:-moz-placeholder, .post-72 input:-moz-placeholder {
  color: #FFF; }
.article-5 textarea::-webkit-input-placeholder, .post-72 textarea::-webkit-input-placeholder {
  color: #FFF; }
.article-5 textarea::-moz-placeholder, .post-72 textarea::-moz-placeholder {
  color: #FFF; }
.article-5 textarea:-ms-input-placeholder, .post-72 textarea:-ms-input-placeholder {
  color: #FFF; }
.article-5 textarea:-moz-placeholder, .post-72 textarea:-moz-placeholder {
  color: #FFF; }
.article-5 input[type=text], .article-5 input[type=email], .article-5 textarea, .post-72 input[type=text], .post-72 input[type=email], .post-72 textarea {
  background: transparent;
  border: 1px solid #f6f6d9;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 5px;
  color: #FFF;
  width: 100%;
  font-style: italic; }
.article-5 div.wpcf7-validation-errors, .post-72 div.wpcf7-validation-errors {
  border: 1px dashed red;
  color: red;
  margin-left: 0;
  margin-top: 0; }
.article-5 div.wpcf7 img.ajax-loader, .post-72 div.wpcf7 img.ajax-loader {
  border: none;
  vertical-align: middle;
  margin-left: 4px;
  float: right;
  margin-top: -25px; }
.article-5 .map iframe, .post-72 .map iframe {
  margin: auto;
  display: table; }

/*# sourceMappingURL=custom.css.map */
